:root {
  --primary: #e99401;
  --negro: #262626;
  --blanco: #fff;
  --neon: #21ebff;
  --blackish:  rgba(0, 0, 0, 0.253);
  --fuente-principal: "Poppins", sans-serif;
  --typewrite-font-size: 70px;
  --swiper-theme-color: #21ebff !important;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  background-color: #111;
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.95;
  overflow: auto;
  position: relative;
  font-family: var(--fuente-principal);
}

.custom-body-element {
  overflow: hidden;
}
img {
  max-width: 100%;
}



[class*="contenedor"] {
  max-width: 120rem;
  margin: 0 auto;
  width: 95%;

}
[class*="heading"] {
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  color: var(--primary);
  margin: 5rem 0;
}



/* --------------------------------------------------------------------- */

.cd-headline {
  position: relative;
  display: inline-block;
  margin: 1em 0;
  text-align: center;
  font-weight: 700;
}

.cd-headline .cd-words-wrapper {
  position: relative;
  display: inline-block;
  padding: .2em;
  margin: 0 .1em;
  height: 1.2em;
  overflow: hidden;
}

.cd-headline b {
  display: inline-block;
  line-height: 1.2em;
}

.cd-headline .is-hidden {
  opacity: 0;
}

.cd-headline .is-visible {
  opacity: 1;
}

.home-area {
  background-color: #111;
  background-position: center center;
  height: 100vh;
  overflow: hidden;
}

.home-area:before {
  background-color: rgba(0, 0, 0, 0.4);
}

.home-area .fixed-wrapper {
  margin: 0 50px;
  position: relative;
}

.home-area .fixed-wrapper .fixed-block {
  bottom: 34px;
  position: absolute;
}

.home-area .fixed-wrapper .fixed-block.block-left {
  left: 0;
}

.home-area .fixed-wrapper .fixed-block.block-right {
  right: 0;
}

.home-area .fixed-wrapper .languages-list {
  margin-bottom: 0;
}

.home-area .fixed-wrapper .languages-list .single-language {
  -webkit-transform: rotate(90deg);
  color: #e6e6e6;
  display: block;
  margin-top: 20px;
  text-transform: uppercase;
  transform: rotate(90deg);
}

.home-area .fixed-wrapper .social-icons {
  margin-bottom: 0;
}

.home-area .fixed-wrapper .social-icons > li {
  line-height: 100%;
  margin-top: 14px;
  text-align: center;
}

.home-area .fixed-wrapper .social-icons i.icon {
  color: #f3f3f3;
  font-size: 23px;
  line-height: 100%;
}

.home-name {
  color: #fff;
  font-size: 70px !important;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 34px;
}

.home-headline {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0.3px;
  margin-bottom: 0;
}
.single-headline {
  display: inline-block;
  position: relative;
  text-align: left;
  vertical-align: top;
}
.single-headline::after {
  background-color: #b9b9b9;
  content: "";
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 2px;
}

b {
  display: inline-block;
  font-weight: 400;
  left: 0;
  opacity: 0;
  position: absolute;
  top: -10px;
  white-space: nowrap;
}

 b.is-visible {
  opacity: 1;
  position: relative;
}

.signature-container {
  display: flex;
  align-items: center;
  justify-content: center;

}

@media (max-width: 991.98px) {
  .home-area .home-name {
    font-size: 62px;
  }

  .home-area .home-headline {
    font-size: 30px;
  }
}

@media (max-width: 767.98px) {
  .home-area .fixed-wrapper {
    display: none;
  }
}

@media (max-width: 575.98px) {
  .home-area {
    background-position: 62% center;
  }

  .home-area .home-name {
    font-size: 48px;
  }

  .home-area .home-headline {
    font-size: 26px;
  }
}



/* Typing Animation----------------- */

.typing-animation {
  font-size: var(--typewrite-font-size);
  padding: 0 1rem 0 1rem;
}

.cursor-typing-animation {
  font-size: var(--typewrite-font-size);
  padding: 0 1rem 0 0;
}

/* FOG-------------------- */

.fog_wrapper {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-filter: blur(1px) grayscale(0.2) saturate(1.2) sepia(0.2);
  filter: blur(1px) grayscale(0.2) saturate(1.2) sepia(0.2);
  overflow: hidden;
}
#foglayer_01,
#foglayer_02,
#foglayer_03 {
  height: 100%;
  position: absolute;
  width: 200%;
}
#foglayer_01 .image01,
#foglayer_01 .image02,
#foglayer_02 .image01,
#foglayer_02 .image02,
#foglayer_03 .image01,
#foglayer_03 .image02 {
  float: left;
  height: 100%;
  width: 50%;
}
#foglayer_01 {
  -webkit-animation: foglayer_01_opacity 10s linear infinite,
    foglayer_moveme 15s linear infinite;
  -moz-animation: foglayer_01_opacity 10s linear infinite,
    foglayer_moveme 15s linear infinite;
  animation: foglayer_01_opacity 10s linear infinite,
    foglayer_moveme 15s linear infinite;
}
#foglayer_02,
#foglayer_03 {
  -webkit-animation: foglayer_02_opacity 21s linear infinite,
    foglayer_moveme 13s linear infinite;
  -moz-animation: foglayer_02_opacity 21s linear infinite,
    foglayer_moveme 13s linear infinite;
  animation: foglayer_02_opacity 21s linear infinite,
    foglayer_moveme 13s linear infinite;
}

/* ---------- Moving Fog ---------- */

#foglayer_01 .image01,
#foglayer_01 .image02 {
  background: url("https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog1.png")
    center center/cover no-repeat transparent;
}
#foglayer_02 .image01,
#foglayer_02 .image02,
#foglayer_03 .image01,
#foglayer_03 .image02 {
  background: url("https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog2.png")
    center center/cover no-repeat transparent;
}

/* ---------- Keyframe Layer 1 ---------- */
@-webkit-keyframes foglayer_01_opacity {
  0% {
    opacity: 0.1;
  }
  22% {
    opacity: 0.5;
  }
  40% {
    opacity: 0.28;
  }
  58% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.16;
  }
  100% {
    opacity: 0.1;
  }
}
@-moz-keyframes foglayer_01_opacity {
  0% {
    opacity: 0.1;
  }
  22% {
    opacity: 0.5;
  }
  40% {
    opacity: 0.28;
  }
  58% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.16;
  }
  100% {
    opacity: 0.1;
  }
}
@-o-keyframes foglayer_01_opacity {
  0% {
    opacity: 0.1;
  }
  22% {
    opacity: 0.5;
  }
  40% {
    opacity: 0.28;
  }
  58% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.16;
  }
  100% {
    opacity: 0.1;
  }
}
@keyframes foglayer_01_opacity {
  0% {
    opacity: 0.1;
  }
  22% {
    opacity: 0.5;
  }
  40% {
    opacity: 0.28;
  }
  58% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.16;
  }
  100% {
    opacity: 0.1;
  }
}
/* ---------- Keyframe Layer 2 ---------- */
@-webkit-keyframes foglayer_02_opacity {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.1;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.5;
  }
}
@-moz-keyframes foglayer_02_opacity {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.1;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.5;
  }
}
@-o-keyframes foglayer_02_opacity {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.1;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes foglayer_02_opacity {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.1;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.5;
  }
}
/* ---------- Keyframe Layer 3 ---------- */
@-webkit-keyframes foglayer_03_opacity {
  0% {
    opacity: 0.8;
  }
  27% {
    opacity: 0.2;
  }
  52% {
    opacity: 0.6;
  }
  68% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.8;
  }
}
@-moz-keyframes foglayer_03_opacity {
  0% {
    opacity: 0.8;
  }
  27% {
    opacity: 0.2;
  }
  52% {
    opacity: 0.6;
  }
  68% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.8;
  }
}
@-o-keyframes foglayer_03_opacity {
  0% {
    opacity: 0.8;
  }
  27% {
    opacity: 0.2;
  }
  52% {
    opacity: 0.6;
  }
  68% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes foglayer_03_opacity {
  0% {
    opacity: 0.8;
  }
  27% {
    opacity: 0.2;
  }
  52% {
    opacity: 0.6;
  }
  68% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.8;
  }
}
/* ---------- Keyframe moveMe ---------- */
@-webkit-keyframes foglayer_moveme {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@-moz-keyframes foglayer_moveme {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@-o-keyframes foglayer_moveme {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@keyframes foglayer_moveme {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

@media only screen and (min-width: 280px) and (max-width: 767px) {
  #foglayer_01 .image01,
  #foglayer_01 .image02,
  #foglayer_02 .image01,
  #foglayer_02 .image02,
  #foglayer_03 .image01,
  #foglayer_03 .image02 {
    width: 100%;
  }
}

/* ---------- SWIPER CAROUSEL STYLES ----------- */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: -10px !important;
  left: 0;
  width: 100%;
  color: #21ebff;
} 
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.review-icon {
  color: var(--neon);
  font-size: 5rem;

}
