.header {
    display: flex;
    margin-right: 5rem ;
    margin-top: 3rem;
    position: fixed;
    top: 0;
    right: 0;

}

.navigation {
    display: flex;
}


.header a {
    text-decoration: none;
    color: var(--blanco);
    padding: 0.7rem 1.1rem;
    font-size: 1.6rem;
    transition-property: background-color;
    transition-duration: .3s;
}

.header a:hover {
    background-color:  #03e9f4;
    color: var(--negro);
}

.resume_button {
    background-color:  #03e9f4;
    color: var(--negro) !important;
    transition-property: background-color;
    transition-duration: .6s;
    border: solid 1px #03e9f4;
   
}

.resume_button:hover {
    background-color: var(--negro) !important;
    color: var(--blanco) !important;
    border: solid 1px #03e9f4;

}