
.skills {
    display: flex;
}
  .container {
    position: relative;
    width: 50%;
    padding: 0px 18px 0 0;
    box-sizing: border-box;
    
  }
  
  .loading1 {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 10px;
    background: #f1f1f1;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
    border-radius: 4px;
    overflow: hidden;
    margin: 2rem 0;
  }
  
  .loading1:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    animation: load1 5s 1;
    animation-fill-mode: forwards;
  }

  .loading2 {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 10px;
    background: #f1f1f1;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
    border-radius: 4px;
    overflow: hidden;
    margin: 2rem 0;
  }
  
  .loading2:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    animation: load2 5s 1;
    animation-fill-mode: forwards;
  }
  
  @keyframes load1 {
    
    75% {
      width: 75%;
      background: var(--neon);
    }

  }

  @keyframes load2 {
    
    100% {
      width: 60%;
      background: var(--neon);
    }
  }
  
